@charset "UTF-8";



@font-face {

    font-family: "idroid";
    src: url('.//img/fontes/idroid.otf') format('opentype');
}


:root {

    --cor0: #c5ebd6;
    --cor1: rgb(30, 137, 30);
    --cor2: rgb(36, 60, 219);
    --cor3: rgb(148, 200, 243);
    --fonttitulos: "idroid";
}


/* ===== CONFIGURAÇÃO GLOBAL ===== */
* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ===== CONFIGURAÇÃO GLOBAL ===== */



/* ===== CORPO ===== */
body {

    background-color: antiquewhite;
}
/* ===== FIM CORPO ===== */


strong {

    color: var(--cor1);
    font-family: var(--fonttitulos);
    font-weight: 100;
}

/* ===== TÍTULOS GLOBAIS ===== */

h2, h3 {

    font-family: var(--fonttitulos);
    color: rgb(19, 128, 19);
    font-weight: 100;
}
/* ===== TÍTULOS GLOBAIS =====*/



/* ===== CABEÇARIO ===== */
header {

    background-image: linear-gradient(to top, rgb(10, 31, 10), rgb(69, 195, 69));
    color: white;
    padding: 20px 0px 0px 0px;
    box-shadow: 2px 5px 10px green;
}

h1 {

    text-align: center;
    padding: 10px;
    text-shadow: 2px 2px 5px black;
    font-size: 2.5em;
}

header > p {

    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}


/* ===== MENU CABEÇARIO ===== */
#menu1 > ul > li {

    display: inline-block;
    margin-left: 15px;
    padding: 7px;
}

abbr {

    text-decoration: none;
}

abbr:hover {

    color: white;
}

#menu1 > ul > li:hover {

    background-color: rgb(37, 112, 22);
    border-radius: 5px;
    transition: 1s;
    
}
/* ===== MENU CABEÇARIO ===== */

/* ===== FIM CABEÇARIO ===== */



/* ===== CONTAINER PRINCIPAL ===== */
main {

    margin: auto;
    max-width: 850px;
    background-color: white;
    padding: 20px;
    box-shadow: inset -2px 1px 20px 0px rgb(168, 245, 168);
}

#sessao1 > .artigo1 > h2 {

    margin-bottom: 10px;
}

#sessao1 > .artigo1 > p {

    text-align: justify;
    padding: 5px;
    text-indent: 25px;
}

#sessao2 > .artigo2 > h3 {

    margin: 15px 0px 15px 0px;  
    background-image: linear-gradient(to right, rgb(97, 243, 119), white);
    padding: 2px 2px 2px 10px;
    border-radius: 5px;
}

#sessao2 > .artigo2 > p {

    text-align: justify;
    padding: 5px;
    text-indent: 25px;
}

#sessao3 > .artigo3 > h3 {

    margin: 15px 0px 15px 0px;  
    background-image: linear-gradient(to right, rgb(97, 243, 119), white);
    padding: 2px 2px 2px 10px;
    border-radius: 5px;
}

#sessao3 > .artigo3 > p {

    text-align: justify;
    padding: 5px;
    text-indent: 25px;
    margin-bottom:5px;
}

.foto-bugdroid {

    display: block;
    margin: auto;
}

.videoyoutube > iframe {

    display: block;
    margin: auto;
}

.videoyoutube {

    background-color: green;
    max-width: 850px;
}

iframe {

    padding: 20px;
}

/* ===== ASIDE =====*/
#sessao4 > aside > h3 {

    padding: 5px 5px 5px 10px;
    background-color: rgb(41, 112, 41);
    border-radius: 10px 10px 0 0;
    color: white;
}

#sessao4 > aside {

    margin: auto;
    display: block;
    background-color: rgb(129, 220, 129);
    margin-top: 20px;
    border-radius: 10px;
    padding: 0px 0px 20px 0px;
}
/* ===== FIM ASIDE ===== */


/* ===== MENU ASIDE ===== */
#menu-aside > ul  {

    columns: 2;
    margin: 15px 0px 15px 15px;
}

#menu-aside > ul > li {

    list-style: none;
}
/* ===== FIM MENU ASIDE ===== */


#sessao4 > aside > p {

    text-align: justify;
    padding: 10px;
    text-indent: 25px;
}

.ultimo-paragrafo {

    text-align: justify;
    padding: 10px;
    text-indent: 25px;
}
/* ===== FIM CONTAINER PRINCIPAL ===== */

footer {

    text-align: center;
    background-color: green;
    padding: 5px;
    margin-top: 10px;
    color: white;
}
